{% extends "layout.html" %}

{% block content %}
    <div class="container center_text">
        {% if user['name'] != "none" %}
            <h3>you are logged in as {{ user['username'] }}</h3>
            <a href="/logout" class="button" style="color:#ffffff;">Logout</a> <a href="/profile" class="button" style="color:#ffffff;">Profile page</a>
        {% else %}
            <a href="/login" class="button" style="color:#ffffff;">login</a>
            <a href="/newuser" class="button" style="color:#ffffff;">Create a new user</a>
        {% endif %}
    </div>
{% endblock %}