<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    {% block content %}{% endblock %}
    <footer class="center_text">
        <p>upplýsingar seinast uppfærðar <a href="https://apis.is/petrol" target="_blank"style="color:var(--main-color);">{{ timestamp }}</a></p>
        <p>lægsta bensín er hjá <a href="/station/{{ low_bensin['key'] }}">{{ low_bensin['company'], low_bensin['name'], low_bensin['bensin95'] }}</a>.</p>
        <p>lægsta dísel er hjá <a href="/station/{{ low_disel['key'] }}">{{ low_disel['company'], low_disel['name'], low_disel['diesel'] }}</a>.</p>
    </footer>
</body>
</html>